*{margin: 0;padding: 0;}
.head{margin-bottom: 0;border-radius: 0;}
#bs-example-navbar-collapse-1{padding-left: 0;}
.content-head{border-bottom: 1px solid #eee;padding-bottom: 22px;}
.content-img{margin-top: 20px;}
.content-img h4{color: #337ab7;}
table{margin-top: 20px; margin-bottom: 20px;}
.footer2{background: #f5f5f5;border-top: 1px solid #ddd;padding:15px 0;}